@media (max-width:425px) {
    .video-section{
        height: 45vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video-div{
        height: 100%;
        width: 100%;
    }
    .video video{
        border-radius: 20px;
    }
}
@media (max-width:768px){
    .video-section{
        height: 70vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1024px){
    .video-section{
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}